*,
::before,
::after {
  box-sizing: border-box;
}

.logo {
  text-align: center;
}

.logo > img {
  max-width: 250px;
}

.header_nav > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 24px;
  justify-content: center;
  padding: 0;
}

.header_nav a {
  text-decoration: none;
}

.register {
  background-color: black;
  padding: 13px 20px;
  color: white;
  border-radius: 30px;
}