*,
::before,
::after {
  box-sizing: border-box;
}

.logo {
  text-align: center;
}

.logo > img {
  max-width: 250px;
}

.header_nav > ul {
  list-style: none;
  display: flex;
  gap: 0 24px;
  justify-content: center;
  padding: 0;
}

.register {
  background-color: black;
  padding: 20px;
  color: white;
}